body {
    font-family: 'Roboto', sans-serif;
    color:  #2E2F42;
}
/*Цвет основного теста #2E2F42*/
/*Цвет вторичный теста #434455*/
/*лого #4D5AE5 и #2E2F42(верх)/#F4F4FD(низ)*/
/*белый #FFFFFF*/
/*подвал абзац #E7E9FC*/
.list {
    list-style: none;
}
.logo-frst {
    color: #4d5ae5;
}
.logo-frst:hover,
.logo-frst:focus {
    text-decoration: underline;
}
.logo-scnd {
    color: #2E2F42;
}
.logo-scnd:hover,
.logo-scnd:focus {
    text-decoration: underline;
}
.site-nav .link {
    color: #2E2F42;
}
.site-nav .link:hover,
.site-nav .link:focus {
    text-decoration: underline;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
/*преимущества*/
.features {
    background-color: #E5E5E5;
}

.features-list .title {
    color: #2E2F42;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.features-list .part {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    color: #434455;
}

.functions {
     background-color: #E5E5E5;
}
.functions-title {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team {
    background-color: #F4F4FD;
}
/*button*/
.button {
    color:#FFFFFF;
    background-color: #4D5AE5;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
}